<ion-content>
  <h1 padding-top="60px" text-center><b>Hospital Endpoint</b></h1>
  <div class="center-div">
    <ion-item>
      <ion-input [(ngModel)]="input" size="large" placeholder="Search...">
      </ion-input>
    </ion-item>
    <ion-chip color="primary" (click)="records()">Records</ion-chip>
    <ion-chip color="secondary" (click)="donations()">Donations</ion-chip>
    <ion-chip color="tertiary" (click)="donors()">Donors</ion-chip>
    <ion-chip color="warning" (click)="hospitals()">Hospitals</ion-chip>
    <ion-chip color="success">Inventory</ion-chip>
    <ion-chip color="danger" (click)="points()">Points</ion-chip>
    <ion-chip color="medium" (click)="campaigns()">Campaigns</ion-chip>


    <ion-card text-center *ngIf="output">
      <ion-spinner *ngIf="loading"></ion-spinner>
      <div class="record" *ngIf="recordres">
        <ion-card-title text-center>Records</ion-card-title>
        <ion-item>
          <ion-col text-center>RID</ion-col>
          <ion-col text-center>HID</ion-col>
          <ion-col text-center>EID</ion-col>
          <ion-col text-center>Name</ion-col>
          <ion-col text-center>Gender</ion-col>
          <ion-col text-center>Age</ion-col>
          <ion-col text-center>Date of Birth</ion-col>
          <ion-col text-center>Blood Group</ion-col>
        </ion-item>
        <ion-list *ngFor="let i of outputvalues">
          <ion-item>
            <ion-col text-center>{{i.rid}}</ion-col>
            <ion-col text-center>{{i.hid}}</ion-col>
            <ion-col text-center>{{i.eid}}</ion-col>
            <ion-col text-center>{{i.name}}</ion-col>
            <ion-col text-center>{{i.gender}}</ion-col>
            <ion-col text-center>{{i.age}}</ion-col>
            <ion-col text-center>{{i.dob}}</ion-col>
            <ion-col text-center>{{i.bloodgroup}}</ion-col>
          </ion-item>
        </ion-list>
      </div>

      <div class="donation" *ngIf="donationres">
        <ion-card-title text-center>Donations</ion-card-title>
        <ion-list *ngFor="let i of outputvalues">
          <ion-item>
            <ion-col text-center>{{i.eid}}</ion-col>
            <ion-col text-center>{{i.bloodgroup}}</ion-col>
            <ion-col text-center *ngIf="i.cid">{{i.cid}}</ion-col>
            <ion-col text-center *ngIf="i.hid">{{i.hid}}</ion-col>
            <ion-col text-center>{{i.date}}</ion-col>
            <ion-col text-center>{{i.bloodgroup}}</ion-col>
            <ion-col text-center>{{i.success}}</ion-col>
          </ion-item>
        </ion-list>
      </div>
      <div class="donor" *ngIf="donorres">
        <ion-card-title text-center>Donors</ion-card-title>
        <ion-list *ngFor="let i of outputvalues">
          <ion-item>
            <ion-col text-center>{{i.eid}}</ion-col>
            <ion-col text-center>{{i.email}}</ion-col>
            <ion-col text-center>{{i.name}}</ion-col>
          </ion-item>
        </ion-list>
      </div>

      <div class="inventory" *ngIf="hospitalres">
        <ion-card-title text-center>Hospitals</ion-card-title>
        <ion-list *ngFor="let i of outputvalues">
          <ion-item>
            <ion-col text-center>{{i.hid}}</ion-col>
            <ion-col text-center>{{i.address}}</ion-col>
            <ion-col text-center>{{i.hname}}</ion-col>
            <ion-col text-center>{{i.pno}}</ion-col>
          </ion-item>
        </ion-list>
      </div>

      <div class="inventory" *ngIf="inventoryres">
        <ion-card-title text-center>Inventory</ion-card-title>
        <!-- todotodotodoooo -->
      </div>

      <div class="point" *ngIf="pointres">
        <ion-card-title text-center>Point Editor</ion-card-title>
        <ion-list *ngFor="let i of outputvalues">
          <ion-item>
            <ion-col text-center>{{i.eid}}</ion-col>
            <ion-col text-center>
              <ion-list *ngFor="let j of i.points">
                <ion-col>
                  <ion-label>{{j.date}}&nbsp;&nbsp;{{j.point}}</ion-label>
                </ion-col>
              </ion-list>
            </ion-col>
            <ion-col text-center>
              <ion-button shape="round" color="danger">Add Points</ion-button> <!-- add functionality -->
            </ion-col>
          </ion-item>
        </ion-list>
      </div>

      <div class="campaign" *ngIf="campaignres">
        <ion-card-title text-center>Campaigns</ion-card-title>
        <ion-list *ngFor="let i of outputvalues">
          <ion-item>
            <ion-col text-center>{{i.cid}}</ion-col>
            <ion-col text-center>{{i.name}}</ion-col>
            <ion-col text-center>{{i.address}}</ion-col>
            <ion-col text-center>{{i.organization}}</ion-col>
            <ion-col text-center>{{i.start}}</ion-col>
            <ion-col text-center>{{i.end}}</ion-col>
          </ion-item>
        </ion-list>
      </div>

    </ion-card>
  </div>


</ion-content>